<html lang="en">
    <%- iclude('./partials/head.ejs')%>
    <body>
        <%- include('./paetials/nav.ejs')
        <div class="not-found">
            File not found</div>
    </body>

</html>